<template>
  <div class="card">
    <daily-input
      :hourList="dailyAvailability"
      :date="selectedDay"
      :edited="edited"
    >
    </daily-input>
    <div class="card-footer">
      <div class="form-group">
        <div class="btn-group btn-group-block">
          <button v-on:click.prevent="applyDailyAvailability()"
            class="btn"
            :class="{ 'btn-primary': !loadingIcon, 'loading': loadingIcon }"
          >
            Submit
          </button>
          <button v-on:click.prevent="applyAllDayAvailability()" class="btn">
            All day
          </button>
          <button v-on:click.prevent="resetAllDayAvailability()" class="btn">
            Reset
          </button>
          <button v-on:click.prevent="getLastWeekdaysAvailability()" class="btn">
            Clone previous {{ selectedDate.format('ddd') }}
          </button>
        </div>
      </div>
    </div>
    <transition name="fade">
      <div v-if="showModal" class="padded-25">
        <div class="toast toast-success">
          Data success fully saved.
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import moment from 'moment'
import { forEach } from 'lodash'
import DailyInput from './View.vue'

export default {
  name: 'DailyInputController',
  props: {
    selectedDate: {
      default: () => moment()
    }
  },
  data () {
    return {
      dailyAvailability: [],
      edited: false,
      loadingIcon: false,
      showModal: false
    }
  },
  apollo: {
    dailyInputView: {
      query: gql`
        query dailyInputView($kitNumber: Int, $date: String) {
          dailyInputView (kitNumber: $kitNumber, date: $date) {
            available
            time {
              time
            }
          }
        }
      `,
      fetchPolicy: 'network-only',
      variables() {
        return {
          date: this.GraphQLFormattedDate,
          kitNumber: this.GraphQLUserKitNumber
        }
      },
      update (data) {
        const hourListForSelectedDay = []
        const selectedDate = this.selectedDate.format('YYYY-MM-DD')
        const { startHour, endHour } = this.$store.getters.teamHours
        const { hours, minutes } = this.$store.getters.teamInterval
        const startDate = moment(selectedDate + 'T' + startHour)
        const endDate = moment(selectedDate + 'T' + endHour)
        while (startDate <= endDate) {
          const pushableObject = {
            toString: startDate.format('HH:mm'),
            available: false,
            edited: false
          }
          hourListForSelectedDay.push(pushableObject)
          startDate.add(hours, 'h')
                   .add(minutes, 'm')
        }
        let queryResult = []
        if (data.dailyInputView) {
          queryResult = data.dailyInputView.map(el => {
            const newElement = {}
            newElement.available = el.available
            newElement.toString = el.time.time.substr(0, 5)
            newElement.edited = true
            return newElement
          })
        }
        const finalArray = []
        const union = forEach(hourListForSelectedDay, (a) => {
          forEach(queryResult, (b) => {
            if (a.toString === b.toString) {
              if (b.edited) {
                a.edited = b.edited
                a.available = b.available
              }
            }
            finalArray.push(a)
          })
        })

        const edited = union.reduce((a, b) => {
          return a.edited || b.edited
        })
        this.edited = edited
        this.dailyAvailability = union.sort((a, b) => {
          const date = '2017-10-10T'
          const aDateString = date + a.toString + 'Z'
          const bDateString = date + b.toString + 'Z'
          if (moment(aDateString).isAfter(bDateString)) {
            return 1
          } else {
            return -1
          }
        })
      }
    }
  },
  components: {
    DailyInput
  },
  methods: {
    getLastWeekdaysAvailability: function () {
      const thisDay = this.selectedDate
      const lastWeeksDay = moment(this.selectedDate).subtract(7, 'days')
      this.$apollo.query({
        fetchPolicy: 'network-only',
        query: gql`
          query dailyInputView($kitNumber: Int, $date: String) {
            dailyInputView (kitNumber: $kitNumber, date: $date) {
              available
              time {
                time
              }
            }
          }
        `,
        variables: {
          kitNumber: this.GraphQLUserKitNumber,
          date: lastWeeksDay.format('YYYY.MM.DD')
        }
      })
      .then(data => {
        const hourListForSelectedDay = []
        const selectedDate = this.selectedDate.format('YYYY-MM-DD')
        const { startHour, endHour } = this.$store.getters.teamHours
        const { hours, minutes } = this.$store.getters.teamInterval
        const startDate = moment(selectedDate + 'T' + startHour)
        const endDate = moment(selectedDate + 'T' + endHour)
        while (startDate <= endDate) {
          const pushableObject = {
            toString: startDate.format('HH:mm'),
            available: false,
            edited: false
          }
          hourListForSelectedDay.push(pushableObject)
          startDate.add(hours, 'h')
                   .add(minutes, 'm')
        }
        let queryResult = []
        if (data.data.dailyInputView) {
          queryResult = data.data.dailyInputView.map(el => {
            const newElement = {}
            newElement.available = el.available
            newElement.toString = el.time.time.substr(0, 5)
            newElement.edited = true
            return newElement
          })
        }
        const finalArray = []
        const union = forEach(hourListForSelectedDay, (a) => {
          forEach(queryResult, (b) => {
            if (a.toString === b.toString) {
              if (b.edited) {
                a.edited = b.edited
                a.available = b.available
              }
            }
            finalArray.push(a)
          })
        })
        this.dailyAvailability = union.sort((a, b) => {
          const date = '2017-10-10T'
          const aDateString = date + a.toString + 'Z'
          const bDateString = date + b.toString + 'Z'
          if (moment(aDateString).isAfter(bDateString)) {
            return 1
          } else {
            return -1
          }
        })
      })
    },
    applyDailyAvailability: function () {
      this.loadingIcon = true
      const dailyAvailability = this.dailyAvailability
      dailyAvailability.map((hour) => {
        this.$apollo.mutate({
          mutation: gql`
            mutation ($playerKitNumber: Int, $date: String, $time: String,
                  $available: Boolean) {
            createAvailability (playerKitNumber: $playerKitNumber,
                                time: $time, date: $date,
                                available: $available) {
                success
            }
          }
          `,
          variables: {
            playerKitNumber: this.GraphQLUserKitNumber,
            date: this.GraphQLFormattedDate,
            time: hour.toString,
            available: hour.available
          }
        }).then((data) => {
          this.loadingIcon = false
          this.edited = true
          this.showModal = true
          setTimeout(() => {
            this.showModal = false
          }, 2000)
          this.$store.commit('updateSelectedDate',
                             this.$store.getters.selectedDate)
        }).catch((error) => {
          this.loadingIcon = false
        })
      })
    },
    applyAllDayAvailability: function () {
      this.dailyAvailability = this.dailyAvailability.map(el => {
        el.available = true
        return el
      })
    },
    resetAllDayAvailability: function () {
      this.dailyAvailability = this.dailyAvailability.map(el => {
        el.available = false
        return el
      })
    }
  },
  computed: {
    selectedDay: function () {
      return this.selectedDate.format('ddd, D.MM')
    },
    GraphQLFormattedDate: function () {
      return this.selectedDate.format('YYYY.MM.DD')
    },
    GraphQLUserKitNumber: function () {
      return this.$store.getters.userNumber
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}

.padded-25 {
  padding: 25px;
}
</style>
