<template>
    <div id="app" class="container">
        <div class="columns">
          <div class="column col-xs-12 col-2">
            <app-header></app-header>
          </div>
          <div class="column col-xs-12 col-10">
            <router-view></router-view>
          </div>
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  import gql from 'graphql-tag'

  import AppHeader from './components/AppHeader.vue'

  export default {
    name: 'App',
    data () {
      return {
      }
    },
    components: {
      AppHeader
    },

    mounted () {
      const teamInfo = gql`
      query {
        teamInfo {
          name
          startHour
          endHour
          interval
          startOnMonday
        }
      }
      `
      const userInfo = gql`
      query {
        userInfo {
          firstName
          lastName
          kitNumber
          isCaptain
        }
      }
      `
      this.$apollo.query({
        fetchPolicy: 'network-only',
        query: teamInfo
      })
        .then((data) => {
          const payload = {
            name: data.data.teamInfo.name,
            startHour: data.data.teamInfo.startHour,
            endHour: data.data.teamInfo.endHour,
            interval: data.data.teamInfo.interval,
            startOnMonday: data.data.teamInfo.startOnMonday
          }
          this.$store.commit('updateTeamInfo', payload)
        })

      this.$apollo.query({
        fetchPolicy: 'network-only',
        query: userInfo
      })
        .then((data) => {
          const payload = {
            firstName: data.data.userInfo.firstName,
            lastName: data.data.userInfo.lastName,
            kitNumber: data.data.userInfo.kitNumber,
            isCaptain: data.data.userInfo.isCaptain
          }
          this.$store.commit('updateUserInfo', payload)
        })
    }
  }
</script>

<style>
    #app {
        padding: 5px;
    }
</style>
