<template>
  <header id="app-header" class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <flat-pickr :value="selectedDate" :wrap="true" @input="updateSelectedDate">
        </flat-pickr>
        <i class="icon icon-time"></i>
      </li>
      <li class="nav-item">
        <router-link to="/daily">Daily View</router-link>
      </li>
      <li class="nav-item">
        <router-link to="/weekly">Weekly View</router-link>
      </li>
      <li class="nav-item" v-if="isCaptain">
        <router-link to="/captain">Captain View</router-link>
      </li>
      <li class="nav-item">
        <router-link to="/settings">Settings</router-link>
      </li>
      <li class="nav-item">
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </header>
</template>

<script>
import moment from 'moment'

import 'flatpickr/dist/flatpickr.css';
import flatPickr from 'vue-flatpickr-component';

export default {
  name: 'AppHeader',
  data () {
    return {
      selectedDate: moment().format('YYYY-MM-DD')
    }
  },
  components: {
    flatPickr
  },
  methods: {
    updateSelectedDate: function (payload) {
      const date = moment(payload)
      this.$store.commit('updateSelectedDate', date)
    }
  },
  computed: {
    isCaptain: function() {
      return this.$store.getters.isCaptain
    }
  }
}
</script>

<style>
.icon {
  margin-right: 2px;
}

.active {
  color: #5764c6 !important;
}

.flatpickr-day.selected {
  background-color: #5764c6 !important;
  border-color: #5764c6 !important;
}
</style>
