<template>
  <div class="container">
    <div class="columns">
      <div v-for="day in selectedWeek" class="column col-3 col-xs-12">
        <hour-output :selectedDate="day" :showDate="true"></hour-output>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import HourOutput from '../UI/HourOutput/Controller.vue'

export default {
  name: 'CaptainRoute',
  data () {
    return {
    }
  },
  components: {
    HourOutput,
  },
  computed: {
    selectedDate: function () {
      return this.$store.getters.selectedDate
    },
    selectedWeek: function () {
      const selectedDate = moment(this.selectedDate)
      const first = selectedDate.date()
      const last = first + 6
      const startDate = moment(selectedDate.date(first))
      const endDate = moment(selectedDate.date(last))
      const weekDays = []
      while (startDate <= endDate) {
        const pushableDate = moment(startDate)
        weekDays.push(pushableDate)
        startDate.add(1, 'days')
      }
      return weekDays
    }
  },
  methods: {
    applyWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyDailyAvailability()
      }
    },
    resetWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].resetAllDayAvailability()
      }
    },
    switchTrueAllWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyAllDayAvailability()
      }
    },
    getLastWeekAvailability: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].getLastWeekdaysAvailability()
      }
    }
  }

}
</script>

<style>
.col-1-7 {
  width: 14.285714285714286%;
}

@media screen and (max-width: 480px) {
  .col-1-7 {
    width: 100%;
  }
}
</style>
