<template>
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-xs-12">
        <daily-input :selectedDate="selectedDate"></daily-input>
      </div>
      <div class="column col-8 col-xs-12">
        <hour-output :selectedDate="selectedDate"></hour-output>
      </div>
    </div>
  </div>
</template>

<script>
import DailyInput from '../UI/DailyInput/Controller.vue'
import HourOutput from '../UI/HourOutput/Controller.vue'

export default {
  name: 'DailyRoute',
  data () {
    return {
    }
  },
  components: {
    DailyInput,
    HourOutput
  },
  computed: {
    selectedDate: function () {
      return this.$store.getters.selectedDate
    }
  }

}
</script>

<style>
</style>
