<template>
  <div class="settings-view container">
    <div class="columns">
      <div class="column col-6">
        <h1>{{ userNumber }}. {{ userName }}</h1>
        <h3>{{ teamName }}</h3>
        <h5>Team Settings:</h5>
        <p>Start hour: {{ teamHours.startHour }}</p>
        <p>End hour: {{ teamHours.endHour }}</p>
        <p>Interval: {{ teamInterval }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'Settings',
    computed: {
      teamName: function () {
        return this.$store.getters.teamDetails.name
      },
      userName: function () {
        const { firstName, lastName } = this.$store.getters.userName
        return firstName + ' ' + lastName
      },
      userNumber: function () {
        return this.$store.getters.userNumber
      },
      teamHours: function () {
        const { startHour, endHour } = this.$store.getters.teamHours
        return { startHour: startHour.substr(0, 5),
                 endHour: endHour.substr(0, 5) }
      },
      teamInterval: function () {
        const { hours, minutes } = this.$store.getters.teamInterval
        return `${hours}h and ${minutes}min`
      }
    }
}
</script>

<style scoped>
.container {
  padding: 25px;
  box-sizing: border-box;
}
</style>
