<template>
  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <div class="form-group">
          <div class="btn-group btn-group-block">
            <button v-on:click.prevent="applyWholeWeek()"
              class="btn btn-primary"
            >
              Submit whole week
            </button>
            <button v-on:click.prevent="switchTrueAllWeek()" class="btn">
              All day
            </button>
            <button v-on:click.prevent="resetWholeWeek()" class="btn">
              Reset
            </button>
            <button v-on:click.prevent="getLastWeekAvailability()" class="btn">
              Clone last week's availability
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div v-for="day in selectedWeek" class="column col-1-7 col-xs-12">
        <daily-input :selectedDate="day"></daily-input>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import DailyInput from '../UI/DailyInput/Controller.vue'

export default {
  name: 'WeeklyRoute',
  data () {
    return {
    }
  },
  components: {
    DailyInput,
  },
  computed: {
    selectedDate: function () {
      return this.$store.getters.selectedDate
    },
    selectedWeek: function () {
      const selectedDate = moment(this.selectedDate)
      const first = selectedDate.date()
      const last = first + 6
      const startDate = moment(selectedDate.date(first))
      const endDate = moment(selectedDate.date(last))
      const weekDays = []
      while (startDate <= endDate) {
        const pushableDate = moment(startDate)
        weekDays.push(pushableDate)
        startDate.add(1, 'days')
      }
      return weekDays
    }
  },
  methods: {
    applyWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyDailyAvailability()
      }
    },
    resetWholeWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].resetAllDayAvailability()
      }
    },
    switchTrueAllWeek: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].applyAllDayAvailability()
      }
    },
    getLastWeekAvailability: function () {
      const childComponents = this.$children
      for (let i = 0; i < this.$children.length; i++) {
        childComponents[i].getLastWeekdaysAvailability()
      }
    }
  }

}
</script>

<style>
.col-1-7 {
  width: 14.285714285714286%;
}

@media screen and (max-width: 480px) {
  .col-1-7 {
    width: 100%;
  }
}
</style>
