<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login Screen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-icons.min.css">
  </head>
  <body>
    <div class="container" style="margin-top: 10%;">
      <div class="columns">
        <div class="col-3">
        </div>
        <div class="col-6">
          <h3>Login to Playarena Scheduler</h3>
          {% if error %}
            <span class="label label-{{ label }}">{{ error }}</span>
          {% endif %}
          <form method="post">
            <div class="form-group">
              {% csrf_token %}
              <label class="form-label" for="username">Username:</label>
              <input class="form-input" type="text" name="username">
              <label class="form-label" for="password">Password:</label>
              <input class="form-input" type="password" name="password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit" name="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
