<template>
  <div class="hour-output card">
    <div class="date card-header">
      <h4 v-if="showDate">{{ selectedDate.format('ddd, D.MM') }}</h4>
      <h4 v-else>Available players</h4>
      <template v-if="showDate">
        <h6>
          <button class="btn badge" :data-badge="getDayStats.max">
            Best hour players count
          </button>
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.average">
            Average players count
          </button>
        </h6>
        <h6>
          <button class="btn badge" :data-badge="getDayStats.total">
            Number of players that filled availability
          </button>
        </h6>
      </template>
    </div>
    <div class="card-body">
      <div class="form-group" v-if="showDate">
        <button class="btn btn-primary" v-on:click.prevent="toggleHourList">
          Show per hour players list
        </button>
      </div>
      <transition name="fade">
        <div class="accordion" v-if="showHourList">
          <div v-for="(hour, index) in hourList" class="accordion-item">
            <input type="checkbox" :id="'accordion-' + selectedDate + '-' + index"
             name="accordion-checkbox" hidden=""
            >
            <label class="accordion-header hand" :for="'accordion-' + selectedDate + '-' + index">
              <span class="label label-primary">
                {{ hour.hour }}
              </span>
              <span class="label label-success" v-if="getAvailablePlayersCount(hour.playersList) !== 0">
                {{ getAvailablePlayersCount(hour.playersList) }} players available
              </span>
            </label>
            <div class="accordion-body">
              <ul v-for="(playerList, position) in groupPlayersByPositon(hour.playersList)">
                <li>{{ position }}</li>
                <ul>
                  <li v-for="player in playerList">
                    <del class="text-bald" v-if="!player.available">
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </del>
                    <mark v-else>
                      {{ player.kitNumber }}. {{ player.firstName }} {{ player.lastName }}
                    </mark>
                  </li>
                </ul>
              </ul>
            </div>
          </div>
          </div>
      </transition>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import { groupBy } from 'lodash'

export default {
  name: 'HoutOutputView',
  data () {
    return {
      showHourList: false
    }
  },
  props: {
    showDate: {
      default: false
    },
    selectedDate: {
      default: () => moment ()
    },
    hourList: {
      default: () => []
    }
  },
  methods: {
    groupPlayersByPositon: function (playersList) {
      const grouped = groupBy(playersList, 'position')
      return grouped
    },
    getAvailablePlayersCount: function (playersList) {
      return playersList.reduce((sum, value) => {
        if (value.available) sum += 1
        return sum
      }, 0)
    },
    toggleHourList: function () {
      this.showHourList = !this.showHourList
    }
  },
  computed: {
    getDayStats: function () {
      let max = 0
      let sum = 0
      let total = 0
      const hoursCount = this.hourList.length
      if (hoursCount !== 0 && this.hourList[0].hasOwnProperty('playersList')) total = this.hourList[0].playersList.length
      for (let i = 0; i < hoursCount; i++) {
        const count = this.hourList[i].playersList.filter(a => a.available).length
        if (max < count) max = count
        sum += count
      }
      const average = Math.floor(sum / hoursCount)
      return { max, average, total }
    }
  },
  mounted () {
    if (!this.showDate) this.showHourList = true
  }
}
</script>

<style scoped>
.text-bald {
  color: rgba(0, 0, 0, 0.3);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
</style>
